# Python & Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3

# Environments
.env
.venv
env/
venv/
ENV/

# Media and Static assets
media/
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
