@('
# Python & Django rules
__pycache__/
*.py[cod]
*$py.class
*.sqlite3

# Environments
.env
.venv
env/
venv/
ENV/

# Media and Static assets
media/
staticfiles/
') | Out-File -FilePath backend/.gitignore -Encoding utf8
